<!-- <div class="text-layout">
  <h1> {{nombre | titlecase}} </h1>
  <h1> {{valor | number}} </h1>
  <h1> {{obj | json}} </h1>

</div>

<button pButton (click)="mostrarNombre()" label="Cambiar Nombre" icon="pi pi-apple" iconPos="right"
  class="p-button-help">

</button>

<p-card class="text-layout" [header]="nombre | titlecase" subheader="Esto ses un Subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste hic debitis, natus similique, eum doloribus in,
  deserunt incidunt fugiat autem molestiae deleniti nulla sunt distinctio reiciendis magnam obcaecati? Aliquid,
  expedita.
</p-card> -->


<app-menu></app-menu>
<router-outlet></router-outlet>